<p id="notice"><%= notice %></p>

<h1>Irons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @irons.each do |iron| %>
      <tr>
        <td><%= iron.name %></td>
        <td><%= iron.type %></td>
        <td><%= link_to 'Show', iron %></td>
        <td><%= link_to 'Edit', edit_iron_path(iron) %></td>
        <td><%= link_to 'Destroy', iron, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iron', new_iron_path %>
