<p id="notice"><%= notice %></p>

<h1>Plastics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plastics.each do |plastic| %>
      <tr>
        <td><%= plastic.name %></td>
        <td><%= plastic.type %></td>
        <td><%= link_to 'Show', plastic %></td>
        <td><%= link_to 'Edit', edit_plastic_path(plastic) %></td>
        <td><%= link_to 'Destroy', plastic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plastic', new_plastic_path %>
